body{
    background-image:url(img/AstronautSynthwave.jpg);
}

#cuadro-1{
    margin: 5px;
    background-color: orange;
    width:300px;
    height: 300px;

    border-top-left-radius: 50%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 25%;  
}
#cuadro-2{
    margin: 5px;
    background-color:green;
    width:300px;
    height: 300px;

    border-top-left-radius: 25%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 5%; 
}
#cuadro-3{
    margin: 5px;
    background-color: blue;
    width:300px;
    height: 300px;

    border-top-left-radius: 25%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 50%;
}
#cuadro-4{
    margin: 5px;
    background-color:red;
    width:300px;
    height: 300px;

    border-top-left-radius: 5%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 25%;
}
#header{
    
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #391a9c, 0 0 40px #391a9c, 0 0 50px #391a9c, 0 0 60px #391a9c, 0 0 70px #391a9c;
    text-align: left;
    margin: 15px;
    font-family: Monoton,Arial, Helvetica, sans-serif;
    font-size: 5rem;
    
}
#row-hud{
    width: 100%;
   
    margin:auto;
}
#hud-turno{
   font-family: Audiowide;
    background-image: linear-gradient(to right,rgb(179, 179, 179), rgb(110, 109, 109) );
    width: 300px;
    height: 50px;
    border-width: 5px;
    border-style: outset;
    margin:5px;   
    text-align: left;
}
#hud-ronda{
    background-image: linear-gradient(to left,rgb(179, 179, 179), rgb(110, 109, 109) );
    width: 300px;
    height: 50px;
    border-width: 5px;
    border-style: outset;
    font-family: Audiowide;
    margin:5px;
    text-align: left;
}
#cuadros{
    
    position: relative;
    left: 650px;
    width: 650px;
    margin:5px;
    border-radius: 50%;
}
#row1{

    width:100%;
    margin:auto;
}
#row2{
    width: 100%;
    margin:auto;
}
#background-cuadros{
    z-index: -1;
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: black;
    border-radius: 50%;
    bottom: 75px;
    left: 620px;
    align
    display:flex;
    

}